:host {
  box-sizing: border-box;
  box-shadow: 0 0 0 1px transparent;
  transition: box-shadow 0.1s linear, transform 1s;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  will-change: transform, transition;
  display: block;
}
:host(:hover) {
  box-shadow: 0 0 0 1px #51c1f8 !important;
  background-color: rgba(81, 193, 248, 0.2);
}
:host(.isCurrentLayer) {
  box-shadow: 0 0 0 1px #ee4743 !important;
  background-color: rgba(238, 71, 67, 0.2);
}
:host(.wireframe) {
  box-shadow: 0 0 0 1px black;
}

/* :host * {
  position: absolute;
} */